apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: testapp3wow-ux/cardeal2-backend:latest
        ports:
        - containerPort: 9000
        env:
        - name: MONGO_URI
          value: "mongodb://mongodb:27017/buyc_corp"
        - name: PORT
          value: "9000"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
  - port: 9000
    targetPort: 9000
  type: ClusterIP